<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User_Home</title>
  <script src="https://kit.fontawesome.com/4c235e51ee.js" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'User:User_home'%}"><b style="text-transform: uppercase;">Camp_Connect</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="text-transform: uppercase;">
          <a class="nav-link active" aria-current="page" href="{% url 'User:User_home'%}">Home</a>
          <a class="nav-link active" aria-current="page" href="{% url 'User:view_profile'%}">Profile</a>
          <a class="nav-link" href="{% url 'User:view_all_packages'%}">Packages</a>
          <a class="nav-link" href="{% url 'User:view_bookings'%}">View-Bookings</a>
          <a class="nav-link" href="{% url 'User:add_feedback' %}">Add-Feedback</a>
          <a class="nav-link" href="{% url 'User:submit_complaint'%}">Complaint-File</a>
          <a class="nav-link" href="{% url 'User:Index'%}">LOGOUT</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- carousal -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://i.postimg.cc/3wLxJ1xX/traveling-camping-composition-1284-40564.avif" style="height: 750px;"
          class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>USER - HOME PAGE</h1>
          <p>WELCOME USER TO CAMP_CONNECT</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.postimg.cc/vm54Yf6X/hand-drawn-summer-camp-instagram-post-23-2149769102.avif"
          style="height: 750px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>USER - HOME PAGE</h1>
          <p>WELCOME USER TO CAMP_CONNECT</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/GtWKyvqt/camping-tent-wooden-chairs-surrounded-600nw-2471432783.webp"
          style="height: 750px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>USER - HOME PAGE</h1>
          <p>WELCOME USER TO CAMP_CONNECT</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Scrollspy -->

  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Camp Preparation</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Camping Gear</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Safety Tips</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Camp Activities</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
          tabindex="0">
          <h4 id="list-item-1">Camp Preparation</h4>
          <p>Preparing for a camping trip involves planning ahead to ensure a safe and enjoyable experience. Start by
            selecting the right campsite based on your preferences and the activities you want to participate in. Check
            the weather forecast and prepare accordingly, including packing appropriate clothing and gear. Make sure to
            inform someone about your plans and expected return time.</p>

          <h4 id="list-item-2">Camping Gear</h4>
          <p>Proper camping gear is essential for comfort and safety. Key items include a tent, sleeping bag, and
            sleeping pad. Make sure your tent is waterproof and suitable for the weather conditions. Bring a portable
            stove or campfire equipment for cooking, and pack essential items like a first-aid kit, flashlight, and
            multi-tool. Don’t forget to bring plenty of food and water, or a means to purify water if necessary.</p>

          <h4 id="list-item-3">Safety Tips</h4>
          <p>Safety is a top priority while camping. Follow these tips to stay safe: always follow fire safety rules,
            including keeping fires contained and fully extinguished when done. Be aware of wildlife and store food
            securely to avoid attracting animals. Know the symptoms of common outdoor hazards like heatstroke and
            hypothermia, and be prepared to handle emergencies. Carry a map and compass or GPS device, and ensure you
            know the location of the nearest help if needed.</p>

          <h4 id="list-item-4">Camp Activities</h4>
          <p>Camping offers a variety of activities for everyone. Explore hiking trails and enjoy nature walks to
            experience the beauty of your surroundings. Consider activities like fishing, swimming, or bird-watching,
            depending on the location. Campfire activities like storytelling, singing, and marshmallow roasting can
            enhance the camping experience. Plan activities that suit your group’s interests and ensure everyone has a
            memorable time.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- grid card -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/3wLxJ1xX/traveling-camping-composition-1284-40564.avif"
            style=" height: 500px ;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camp_connect</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/vm54Yf6X/hand-drawn-summer-camp-instagram-post-23-2149769102.avif"
            style=" height: 500px ;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camp_connect</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/GtWKyvqt/camping-tent-wooden-chairs-surrounded-600nw-2471432783.webp"
            style=" height: 500px ;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camp_connect</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/3NLQpXRg/gradient-summer-camp-poster-template-23-2149424750.avif"
            style=" height: 500px ;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camp_connect</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="www.campconnect.com">Campconnect.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Include Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>