<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Profile</title>
    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/4c235e51ee.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'Camp:Camp_home' %}"><b
                    style="text-transform: uppercase;">Camp_Connect</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="text-transform: uppercase;">
                    <a class="nav-link" href="{% url 'Camp:Camp_home' %}">Home</a>
                    <a class="nav-link" href="{% url 'Camp:camp_profile' %}">Profile</a>
                    <a class="nav-link" href="{% url 'Camp:Add_camp_profile'%}">Add_camp_profile</a>
                    <a class="nav-link" href="{% url 'Camp:profile_view_detailed'%}">profile_view_detailed</a>
                    <a class="nav-link" href="{% url 'Camp:add_facility'%}">Add-Facility</a>
                    <a class="nav-link" href="{% url 'Camp:add_package'%}">Add-package</a>
                    <a class="nav-link" href="{% url 'Camp:upload_images'%}">Upload_images</a>
                    <a class="nav-link" href="{% url 'Camp:view_all_packages' %}">View-Added-Packages</a>
                    <a class="nav-link" href="{% url 'Camp:camper_view_bookings' %}">View-Bookings</a>
                    <a class="nav-link" href="{% url 'Camp:submit_complaint' %}">Complaint-File</a>
                    <a class="nav-link" href="{% url 'User:Index' %}">LOGOUT</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="mb-4" align="center">Profile-{{ camp.camp_name }} </h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Camp Provider: {{ camp.camp_provider_name }}</h5>
                <p class="card-text"><strong>Email:</strong> {{ camp.email }}</p>
                <p class="card-text"><strong>Phone Number:</strong> {{ camp.phone_number }}</p>
                <p class="card-text"><strong>Registration Number:</strong> {{ camp.camp_regno }}</p>
                <p class="card-text"><strong>Date Registered:</strong> {{ camp.date_registered }}</p>
            </div>
        </div>

        <div class="mt-4">
            <a href="{% url 'Camp:edit_camp_details' camp.id %}" class="btn btn-primary">Edit Details</a>
            <a href="{% url 'Camp:change_camp_password' camp.id %}" class="btn btn-secondary">Change Password</a>
        </div>

        <a href="{% url 'Camp:Camp_home' %}" class="btn btn-link mt-4">Back to Camp Home</a>
    </div>
<br><br><br><br><br><br>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Footer -->
<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="www.campconnect.com">Campconnect.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>